<div class="navigation">
    <header class="main-header">
        <div class="site-logo">
            <img src="img/Security and Personal Services-logos_transparent.png" alt="logo"
                style="width:100px;height:100px;margin-left:15px;">
            <span>Security and Personal Services</span>
           
        </div>
    </header>
    <ul class="head-ul">
        <div class="container">
            <li><a id="navlink" href="/">Home</a></li>
            <li><a id="navlink" href="about">About</a></li>
            <li><a id="navlink" href="services">Services</a></li>
            <li><a id="navlink" href="careers">Careers</a></li>
            <li><a id="navlink" href="contact">Contact</a></li>
         
        </div>
    </ul>
</div>